/*******************************************************
 * ROFI configs i3 powermenu - Matched to App Menu style
 *******************************************************/
configuration {
    font:                "JetBrainsMono Nerd Font 14";
    show-icons:          false;
    scroll-method:       0;
    disable-history:     false;
    sidebar-mode:        false;
}

@import "~/.config/rofi/config.rasi"

window {
    background-color: @background;
    border:           0;
    padding:          30;
    transparency:     "real";
    width:            400px;
    location:         center;
    anchor:           center;
}

listview {
    lines:           7;
    columns:         1;
    fixed-height:    0;
    border:          0;
    spacing:         8px;
    scrollbar:       false;
    padding:         2px 0px 0px;
}

element {
    border:  0;
    padding: 8px;
    spacing: 12px;
}

element-text {
    background-color: inherit;
    text-color:       inherit;
    vertical-align:   0.5;
}

element.normal.normal { background-color: @normal-background; text-color: @normal-foreground; }
element.selected.normal { background-color: @selected-normal-background; text-color: @selected-normal-foreground; }

/* Main box should only contain the list for a clean power menu */
mainbox {
  border:  0;
  padding: 0;
  children: [listview];
}
